<div class="userdashboard">
  <ul class="nav nav-pills">
    <li class="active"><%= link_to "Profile", my_user_path(@user.id) %></li>
    <li class="dropdown">
      <%= link_to 'Rides <b class="caret"></b>'.html_safe, "", :class => 'dropdown-toggle', :'data-toggle' => 'dropdown'%>
      <ul class="dropdown-menu" role="menu">
        <li class="dropdown-link"><%= link_to "My Rides", my_rides_path(@ride) %></li>
        <li class="dropdown-link"><%= link_to "My Requests", requests_my_rides_path(@ride) %></li>
        <li class="dropdown-link"><%= link_to "My Drives", drives_my_rides_path(@ride) %></li>
      </ul>
    </li>
    <li><%= link_to "Need A Ride?", new_my_ride_path %></li>
    <li><%= link_to "Post A Drive", new_my_ride_path %></li>
    <li class="all-rides-nav"><%= link_to "All Rides", rides_path %></li>
  </ul>
</div>

<div class="profilecontainer">
  <div class="profilebox">
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
    <div class="profileimg">
      <img class="media-object profilepic" src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/7/005/043/253/0a19061.jpg" alt="...">
    </div>
  </div>
  <div class="userdetails">
    <h3><%= @user.username %></h3>
    <h4>Age:</h4>
    <h4>Current City:</h4>
    <h4>About Me:</h4><%= @user.about_me %><br />
    <p class="glyphicon glyphicon-time joindate"> Joined: <%= @user.created_at.to_formatted_s(:long_ordinal) %><p>
  </div>  
</div>

<div id="firstband firstbandback">
    <div class="container">
      <div class="row first" style="margin-bottom: 60px;">
        <h2 class="text-center" style="margin: 50px auto 10px;">My Rides</h2>
          
        <% @rides.each do |ride| %>

         <div class="media">
          <a class="pull-left" href="#">
           <img class="media-object" src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/7/005/043/253/0a19061.jpg" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading"><%= ride.from %><span class="glyphicon glyphicon-arrow-right"></span><%= ride.to %></h4>
            <p>
              Ian Smith               <br/>
              Donation Amount: <span class="glyphicon glyphicon-usd"><%= ride.donation_amt %></span><br/>
              Ride Date:  <%= ride.ride_date %>             <br/>
              Seats:  <%= ride.no_of_seats %>              <br/>
            </p>
          </div>
        </div>

      <% end %>

      <%= image_tag @user.avatar.url(:thumb) %>
       
   
      
      </div>
    </div>
</div>

