<div class="userdashboard">
  <ul class="nav nav-pills">
    <li class="active"><%= link_to "Profile", my_user_path(@user.id) %></li>
    <li class="dropdown">
      <%= link_to 'Rides <b class="caret"></b>'.html_safe, "", :class => 'dropdown-toggle', :'data-toggle' => 'dropdown'%>
      <ul class="dropdown-menu" role="menu">
        <li class="dropdown-link"><%= link_to "My Rides", my_rides_path(@ride) %></li>
        <li class="dropdown-link"><%= link_to "My Requests", requests_my_rides_path(@ride) %></li>
        <li class="dropdown-link"><%= link_to "My Drives", drives_my_rides_path(@ride) %></li>
      </ul>
    </li>
    <li><%= link_to "Need A Ride?", new_my_ride_path %></li>
    <li><%= link_to "Post A Drive", new_my_ride_path %></li>
    <li class="all-rides-nav"><%= link_to "All Rides", rides_path %></li>
  </ul>
</div>

<div class="user-profile">
  <h1><%= @user.first_name %> <%= @user.last_name %></h1>
  <div class="profileimg">
    <%= image_tag @user.avatar.url(:medium) %>
  </div>

  <div class="userdetails">
    <h3><%= @user.username %></h3><%= link_to "Edit Profile", edit_my_user_path %><br />
    <h4>About Me:</h4><%= @user.about_me %><br />
  </div> 

  <p class="glyphicon glyphicon-time joindate"> Joined: <%= @user.created_at.to_formatted_s(:long_ordinal) %><p> 
</div>
