<div class="user-profile">
  <h1><%= @user.first_name %> <%= @user.last_name %></h1>
  <div class="profileimg">
    <%= image_tag @user.avatar.url(:medium) %>
  </div>

  <div class="userdetails">
    <h3><%= @user.username %></h3><%= link_to "Edit Profile", edit_my_user_path %><br />
    <h4>About Me:</h4><%= @user.about_me %><br />
  </div> 

  <p class="glyphicon glyphicon-time joindate"> Joined: <%= @user.created_at.to_formatted_s(:long_ordinal) %><p> 
</div>
