<h1>Shows rides that belong to me (current_user is driver)</h1>

<% @rides.each do |ride| %>
  <ul>
    <li>From: <%= ride.from %></li>
    <li>To: <%= ride.to %></li>
    <li>Ride Date: <%= ride.ride_date %></li>
    <li>driver_id: <%= ride.driver_id %></li>
  </ul>
  <% if !(ride.has_passengers?) && ride.driver_id == @user.id %>
    <%= link_to "Delete", my_ride_path(ride), :confirm => "Are you sure?", :method => :delete %> <br />
    <%= link_to "Remove me as driver", remove_driver_my_ride_path(ride.id)%>
  <% end %>
  <hr/>
<% end %>

  
