<h1>Ride Index</h1>

<% @rides.each do |ride| %>
  <p>
    ID:                     <%= ride.id %><br/>
    From:                   <%= ride.from %><br/>
    To:                     <%= ride.to %><br/>
    Ride Date:              <%= ride.ride_date %><br/>
    Number of Seats:        <%= ride.no_of_seats %><br/>
    Number of booked seats: <%= ride.no_booked_seats %><br/>
    Description:            <%= ride.description %><br/>
    Donation Amount:        <%= ride.donation_amt %><br/>
    Luggage Space:          <%= ride.luggage_space %><br/>
    Ski Rack?               <%= ride.ski_rack %><br/>
    Bike Rack?              <%= ride.bike_rack %><br/><hr/>
  </p>
<% end %>

