<div class="userdashboard">
  <ul class="nav nav-pills">
    <li><%= link_to "Profile" %></li>
    <li class="active"><%= link_to "My Rides" %></li>
    <li><%= link_to "All Rides", rides_path %></li>
  </ul>
</div>

<div id="firstband firstbandback">
    <div class="container">
      <div class="row first" style="margin-bottom: 60px;">
        <h2 class="text-center" style="margin: 50px auto 10px;">My Rides</h2>

        <% @rides.each do |ride| %>

<% if ride.driver_id != nil || ride.has_passengers?%>
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div class="front">
                <div class="panel panel-default">
                  <div class="panel-heading"><%= ride.from %><span class="glyphicon glyphicon-arrow-right"></span><%= ride.to %><span class="ride-cost">$<%= ride.donation_amt %></span>
                  <% if !ride.passengers.pluck(:user_id).include?( @user.id ) %>
                      <%= link_to "Add Me to ride", my_rides_add_me_to_ride_path(:ride_id => ride.id) %>
                  <% end %>                  
                  </div>
                    <div class="panel-body">

                     <div class="media">
                      <a class="pull-left" href="#">
                       <img class="media-object" src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/7/005/043/253/0a19061.jpg" alt="...">
                      </a>
                      <div class="media-body">
                        <h4 class="media-heading"></h4>
                          <div class="ride-info">
                            <p>
                              <%= ride.user.username %> has <%= ride.no_of_seats %> seats remaining.  <br/>
                              Leaving: <%= ride.ride_date.to_formatted_s(:long_ordinal) %>           
                               Creator id:  <%= ride.user.id%>             
              Current User id:  <%= @user.id %>             
              Driver ID:  <%= ride.driver_id %>              
              Has Passengers?:  <%= ride.has_passengers? %>              <br/>
              Ride State:  <%= ride.state_name %>              <br/>
              <% if ride.user == @user && ride.driver_id && !(ride.has_passengers?) %>
              <%= link_to "Delete", my_ride_path(ride), :confirm => "Are you sure?", :method => :delete %><br />
              <% end %>
                            </p>
                          </div>
                        <button type="button" class="flip-btn btn btn-info">
                          Ride <br> Details
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>



            <div class="back">
              <div class="panel panel-default">
                <div class="panel-heading"><%= ride.from %><span class="glyphicon glyphicon-arrow-right"></span><%= ride.to %><span class="ride-cost">$<%= ride.donation_amt %></span></div>
                  <div class="panel-body">

                   <div class="media">
                   
                    <div class="media-body">
                      <h4 class="media-heading"></h4>
                        <div class="ride-info">
                          <p>
                            Description: <%= ride.description %><br/>      
                            Leaving: <%= ride.ride_date.to_formatted_s(:long_ordinal) %><br/>
                            Seats remaining: <%= ride.no_of_seats %><br/>
                            
                          </p>
                        </div>
                        <button type="button" class="flip-btn btn btn-warning">
                        View <br> Ride
                      </button>
                     
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %> 
         <% end %>
      </div>
    </div>
</div>




