<div class="userdashboard">
  <ul class="nav nav-pills">
    <li><%= link_to "Profile", my_user_path(@user.id) %></li>
    <li class="active dropdown">
      <%= link_to 'Rides <b class="caret"></b>'.html_safe, "", :class => 'dropdown-toggle', :'data-toggle' => 'dropdown'%>
      <ul class="dropdown-menu" role="menu">
        <li class="active dropdown-link"><%= link_to "My Rides", my_rides_path %></li>
        <li class="dropdown-link"><%= link_to "My Requests", requests_my_rides_path %></li>
        <li class="dropdown-link"><%= link_to "My Drives", drives_my_rides_path %></li>
      </ul>
    </li>
    <li><%= link_to "Need A Ride?", new_my_ride_path %></li>
    <li><%= link_to "Post A Drive", new_my_ride_path %></li>
    <li class="all-rides-nav"><%= link_to "All Rides", rides_path %></li>
  </ul>
</div>

<div id="firstband firstbandback">
  <div class="container">
    <div class="row first" style="margin-bottom: 60px;">
      <h2 class="text-center" style="margin: 50px auto 10px;">My Rides</h2>
      <% @rides.each do |ride| %>
      <% if ride.driver_id == @user.id || ride.passengers.pluck(:user_id).include?(@user.id) || ride.user == @user%>
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            
            <div class="front">
              <div class="panel panel-default">
                <% if ride.user == @user && (ride.passengers.count <= 1) %>
                  <%= link_to "", my_ride_path(ride), :confirm => "Are you sure?", :method => :delete, :class => 'glyphicon glyphicon-remove-circle', :title => "Delete Ride" %>
                <% end %> 
                <div class="panel-heading">
                  <span class="glyphicon glyphicon-road"></span><%= ride.from %><span class="glyphicon glyphicon-arrow-right"></span><%= ride.to %><span class="ride-cost">$<%= ride.donation_amt %></span>
                  <% if ride.state == 'q' && ride.driver_id == nil && !ride.passengers.pluck(:user_id).include?(@user.id) %>
                    <%= link_to "I'll drive you" %>
                  <% end %>

                  <% if ride.driver_id == @user.id %>
                    <%= link_to "Ride control panel", my_ride_path(ride) %>
                  <% end %>
                  <% if !ride.passengers.pluck(:user_id).include?( @user.id ) && ride.driver_id != @user.id %>
                      <%= link_to "Join This Ride", add_me_to_ride_my_ride_path(ride.id), :class => 'btn btn-join' %>
                  <% end %>
                </div>
                <div class="panel-body">
                  <div class="media">
                    <a class="pull-left" href="#">
                      <%= image_tag ride.user.avatar.url(:medium), :class => 'small-pic' %>
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading"></h4>
                      <div class="ride-info">
                        <ul>
                          <li><%= ride.user.username %> has <%= ride.no_of_seats %> seats remaining.</li>
                          <li>Leaving: <%= ride.ride_date.to_formatted_s(:long_ordinal) %></li>                    
                          <li>Current User:  <%= @user.username %></li>             
                          <li>Driver ID:  <%= ride.driver_id %></li>             
                          <li>Number of passengers: <%= ride.passengers.count %></li><br/>
                          <li>Current Passengers: <% ride.passengers.each do |p| %>
                          <%= p.user.username %>
                          <% end %>
                        </p>
                      </div>
                      <button type="button" class="flip-btn btn btn-info">
                        Ride <br> Details
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="back">
              <div class="panel panel-default">
                <div class="panel-heading"><%= ride.from %><span class="glyphicon glyphicon-arrow-right"></span><%= ride.to %><span class="ride-cost">$<%= ride.donation_amt %></span>
                </div>
                <div class="panel-body">
                  <div class="media">
                    <div class="media-body">
                      <h4 class="media-heading"></h4>
                      <div class="ride-info">
                        <p>
                          Description: <%= ride.description %><br/>      
                          Leaving: <%= ride.ride_date.to_formatted_s(:long_ordinal) %><br/>
                          Seats remaining: <%= ride.no_of_seats %><br/>
                        </p>
                      </div>
                      <button type="button" class="flip-btn btn btn-warning">
                        View <br> Ride
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      <% end %> 
      <% end %>
    </div>
  </div>
</div>




