<!-- Main Navigation Dashboard -->

<div class="userdashboard">
  <ul class="nav nav-pills">
    <li><%= link_to "Profile", my_user_path(@user.id) %></li>
    <li class="dropdown">
      <%= link_to 'Rides <b class="caret"></b>'.html_safe, "", :class => 'dropdown-toggle', :'data-toggle' => 'dropdown'%>
      <ul class="dropdown-menu" role="menu">
        <li class="dropdown-link"><%= link_to "My Rides", my_rides_path %></li>
        <li class="dropdown-link"><%= link_to "My Requests", requests_my_rides_path %></li>
        <li class="dropdown-link"><%= link_to "My Drives", drives_my_rides_path %></li>
      </ul>
    </li>
    <li><%= link_to "Need A Ride?", new_my_ride_path %></li>
    <li class="active"><%= link_to "Post A Drive", new_my_ride_path %></li>
    <li class="all-rides-nav"><%= link_to "All Rides", rides_path %></li>
  </ul>
</div>

<div class="ride-form">
  <h1>Post a Ride</h1>
  <%= form_for [:my, @ride] do |f| %>
    
    <%= f.label "Are you driving?" %>:
    <%= check_box_tag :user_is_driver %><br />

    <%= f.text_field  :from, class: 'form-control form-group ride-form input-medium', placeholder: 'From' %>

    <%= f.text_field  :to, class: 'form-control form-group ride-form input-medium', placeholder: 'To'  %>
    
    <%= f.label :ride_date %>:
    <%= f.date_field   :ride_date, class: 'form-group form-control input-medium' %>
    
    <%= f.label :ride_time %>:
    <%= f.time_field   :ride_time, class: 'form-group form-control input-medium' %>
    
    <%= f.label :no_of_seats %>:
    <%= f.text_field   :no_of_seats, class: 'form-control form-group seat-form input-small' %>
    
    <%= f.label :description %>:
    <%= f.text_area   :description, class: 'form-control form-group description-input', :rows => "4" %>
    
    <%= f.label :donation_amt %>:
    <%= f.text_field  :donation_amt, class: 'form-control form-group donate-form input-small' %>
    
    <%= f.label :luggage_space %>:
    <%= f.check_box   :luggage_space %><br />
    
    <%= f.label :ski_rack %>:
    <%= f.check_box   :ski_rack %><br />
    
    <%= f.label :bike_rack %>:
    <%= f.check_box   :bike_rack %><br />
    
    <%= f.submit 'Submit', :class => 'btn btn-primary' %>
  <% end %>
</div>



