<div class="page-cont">

<h1 class="ride-header"><%= @ride.from %> to <%= @ride.to %><br /><span class="header-date"><%= @ride.ride_date.to_formatted_s(:long_ordinal) %></span></h1>
    
    <div class="driver-info">
    
        <% if @driver %>
            <div class="medium-pic-cont">
                <%= image_tag @driver.avatar.url(:medium)%>
            </div>
                <h4 class="driver-heading"><%= @driver.first_name %> <%= @driver.last_name %> is driving.</h4>
            <% else %>
                <div class="medium-pic-cont">
                    <%= image_tag "logo.png"%>
                </div>
                <h4 class="driver-heading">This ride is looking for a driver.</h4>
        <% end %>

        <p class="storage-info">
            <% if @ride.luggage_space %>    
                Luggage Space <i class="fa fa-check-square-o"></i><br/>
            <% else %>
                Luggage Space <i class="fa fa-square-o"></i><br/>
            <% end %>
            <% if @ride.ski_rack %>    
                Ski Rack <i class="fa fa-check-square-o"></i><br/>
            <% else %>
                Ski Rack <i class="fa fa-square-o"></i><br/>
            <% end %>
            <% if @ride.bike_rack %>    
                Bike Rack <i class="fa fa-check-square-o"></i><br/>
            <% else %>
                Bike Rack <i class="fa fa-square-o"></i><br/>
            <% end %>

            <br />Seats Remaining: <%= (@ride.no_of_seats - @ride.passengers.where(state: "A").count) %>
        </p>
    </div>

  <div class="ride-description">
      <h4 class="description-heading">Description</h4>
      <%= @ride.description %>
  </div>




  <div class="passenger-info-cont">
    <h4 class="passenger-heading">Passengers</h4>      
    <% @ride.passengers.each do |passenger| %>
      <div class="small-pic-cont">
        <%= image_tag passenger.user.avatar.url(:thumb), :class => 'small-pic-pass' %>
      </div>
      <div class="pass-info">
        <%= passenger.user.first_name %> - <%= passenger.state_name %>
        <% if @ride.driver_id == @user.id %>
          <div class="pass-buttons">
            <% if passenger.state == "Q" %>
              <%= link_to "Accept", accept_passenger_my_ride_path(:passenger_id => passenger.id), :class => 'btn btn-success' %>
              <%= link_to "Reject", reject_passenger_my_ride_path(:passenger_id => passenger.id), :class => 'btn btn-danger' %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>


<!--   <div class="ride-info-cont">
      <p>
        <% if @ride.driver_id == @user.id  && @ride.passengers == nil %>
            <%= link_to "Delete Ride", my_ride_path(@user, @ride), :method => :delete %>
        <% end %>
      </p>
  </div> -->
</div>
