<!-- <div class="ridecontainer"> -->
    <h1 class="ride-header"><%= @ride.from %><span class="glyphicon glyphicon-arrow-right"></span><%= @ride.to %></h1>
    
    <div class="driver-info">
        <h4>Driver: <%= @ride.user.first_name %> <%= @ride.user.last_name %></h4>
        <%= image_tag @ride.user.avatar.url(:thumb) %>
    </div>
    <div>
        <p>
            Leaving:              <%= @ride.ride_date.to_formatted_s(:long_ordinal) %><br/>
            Number of Seats:        <%= @ride.no_of_seats %><br/>
            Number of booked seats: <%= @ride.no_booked_seats %><br/>
            Description:            <%= @ride.description %><br/>
            Donation Amount:        <%= @ride.donation_amt %><br/>
            Luggage Space:          <%= @ride.luggage_space %><br/>
            Ski Rack?               <%= @ride.ski_rack %><br/>
            Bike Rack?              <%= @ride.bike_rack %><br/><br/>
        </p>
    </div>
<!-- </div> -->